body{
	background: url('https://wallpaperaccess.com/full/530370.jpg');


}
.form{
	border: 1px solid black;
	width: 350px;
	height: 600px;
	padding-left: 50px;
	position: absolute;
	left: 520px;
	top: 70px;
	background: #DAFCF3;
}
input{
	height: 30px;
	width: 300px;
}
button{
	height: 30px;
	width: 300px;
}
label{
	font-size: 20px;
}
p{
	color: #E91515;
}