.container{
	border: 1px solid transparent;
	width: 1200px; 	
	
}
ul{
	list-style-type: none;
	position: absolute;
	top: 10px;
	left: 30%;
	
}


ul li{
	display: inline-block;

}
a{
  text-decoration: none;
  margin-left: 30px;}
  
h3{
	position: relative;
	left: 200px;
	font-family: Snap ITC;
	font-size: 20px;}

  .b{
	position: absolute;
	top: 12px;
	right: 200px;

	height: 50px;
	width: 200px
 }
 img{
 	width: 1500px;
 	height: 160px;
 	opacity: 0.8;
 }
 h1{
 	position: absolute;
 	left: 700px;
 	top: 100px;
 }
 td img{
 	width: 200px;
 	margin-right: 20px;
 }
 table{
 	position: absolute;
 	top: 300px;
 	left: 400px;
 }
 .c{
 	position: relative;
 	bottom: 50px;
 	left: 25px;
 	background: white;
 	border: 1px solid transparent;
 	box-shadow: 10px #DFD4D4;
 	width: 150px;
 }